:root {
/* Text-size styles */
/* base size: boton (20px) */
--boton: 2rem;
--h1: 9.5rem;
--h2: 5.6rem;
--h3: 2.8rem;
--body: 1.9rem;
--caption: 1.6rem;
--h1-sm: 5.1rem;
--h2-sm: 2.7rem;
--botón-sm: 1.6rem;
--h3-sm: 2.8rem;
--body2: 1.6rem;

/* Color styles */
--titulo: rgba(61, 72, 82, 1);
--body: rgba(135, 149, 161, 1);
--blanco: rgba(250, 250, 250, 1);
--principal---light: rgba(199, 223, 241, 1);
--body-light: rgba(199, 211, 222, 1);
--input-bg: rgba(241, 241, 241, 1);
--stroke-dash: rgba(223, 229, 231, 0.5);
--lila: rgba(141, 156, 244, 1);
--orange: rgba(229, 67, 53, 1);
--principal: linear-gradient(180deg, #5025FF 0%, #4B1FFF 100%);

/* Effect styles */
--shadow:  0px 3px 30px rgba(0, 0, 0, 0.12);
--blue:  0px 3px 20px rgba(0, 41, 255, 0.1);
--shadow-card:  0px 3px 30px rgba(0, 0, 0, 0.08);
--mock:  0px 29.658096313476562px 59.316192626953125px rgba(0, 0, 0, 0.25);
--m-o-c-k2:  0px 8.78758430480957px 54.922401428222656px rgba(0, 0, 0, 0.05);
--morado:  0px 20px 27px rgba(112, 77, 255, 0.4);
}

/*Se resetean los estilos base*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Kanit', sans-serif;
    background-color: black;
}

/*HEADER*/

header {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding: 16px 142px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background: linear-gradient(180deg, #000 24.48%, rgba(0, 0, 0, 0.00) 100%);
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    font-size: var(--boton);
    color: var(--body);
}

.nav-item:hover {
    color: var(--stroke-dash);
}

.header-button {
    cursor: pointer;
    background-color: transparent;
    font-size: var(--boton);
    padding: 16px 32px;
    border: 1.5px solid var(--blanco, #ffffff);
    border-radius: 8px;
    color: var(--blanco);
    stroke: var(--blanco);
}

.header-button:hover {
    background: linear-gradient(180deg, #000 62.50%, #FFF 100%);
}

/*HERO*/

.hero {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    padding: 64px 142px;
    justify-content: space-between;
    align-items: center;
    background-image: url(./Assets/Hero-BG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-text, h1 {
    font-size: var(--h1);
    color: var(--blanco);
    line-height: 100%;
}

span, .hero-text--especial {
    font-size: var(--h1);
    background: linear-gradient(180deg, #5025FF 0%, #AB97FF 100%);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
}

.hero-text, p {
    font-size: var(--h2-sm);
    color: var(--blanco);
    font-weight: 200;
    margin-top: 16px;
    margin-bottom: 64px;
}

.hero-button {
    cursor: pointer;
    font-size: var(--boton);
    font-weight: 500;
    color: var(--blanco);
    background-image: linear-gradient(180deg, #5025FF 0%, #4B1FFF 100%);
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
}

.hero-button:hover {
    background-image: linear-gradient(180deg, #5025FF 0%, #9A84FD 100%);
    box-shadow: 0px 20px 27px -0.5px rgba(112, 77, 255, 0.40);
}

.projects-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 64px 142px;
    background-image: url(./Assets/Poryectos-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.projects-section, h2 {
    font-size: var(--h2);
    color: var(--titulo);
}

.projects-p {
    font-size: var(20px);
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 3.42px;
    background: linear-gradient(180deg, #5025FF 0%, #4B1FFF 100%);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
}

.projects-p2 {
    font-size: var(--h3);
    color: var(--titulo);
}